.category-preview {
  &__description {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    flex: 1 0 75%;
  }
  &__bottom {
    display: flex;
  }
  &__description {
    padding: 70px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__more {
    height: 100%;
    flex: 0 1 25%;
    background-color: $bg-color3;
    &.in-dev {
      cursor: default;
      span {
        color: $color4 !important;
        text-align: center;
        margin: 0;
      }
    }
  }
}

@media all and(max-width: 1440px) {
  .category-preview {
    &__description {
      padding: 50px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}