.contacts {
  &__bottom {
    display: flex;
    background-color: $colorH;
    overflow: hidden;
  }
  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.contacts-socials {
  background-color: $colorG;
  flex: 0 1 auto;
  height: 100%;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  &__link {
    display: block;
    border: 1px solid $colorE;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 8px;
    transition: $trs1;
    .icon {
      width: 100%;
      height: 100%;
      display: block;
      fill: $colorE;
      transition: inherit;
    }
    &.hover,
    &.touch {
      border-color: #fff;
      .icon {
        fill: #fff;
      }
    }
  }
}
.contacts-form {
  width: 100%;
  &__content {
    display: flex;
  }
  &__group {
    width: 100%;
    margin-right: 60px;
    &:first-child {
      max-width: 240px;
    }
    &:last-child {
      max-width: 420px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}