.contact-open-btn {
  width: 100%;
  display: none;
  text-align: center;
  line-height: 60px;
  background-color: $colorH;
  color: $colorA;
  transition: $trs1;
  flex-shrink: 0;
  &.hover,
  &.touch {
    background-color: $colorG;
  }
}
.contacts {
  &__bottom {
    display: flex;
    background-color: $colorH;
    overflow: hidden;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    font-family: $font2;
    flex-shrink: 0;
    display: block;
    margin: 30px 0 0 0;
    display: none;
  }
  &__head {
    display: none;
    height: 50px;
    background-color: $colorJ;
    position: relative;
    flex-shrink: 0;
    .popup-close {
      width: 50px;
      height: 50px;
      right: 3px;
      top: 0;
      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .button {
    width: 180px;
  }
}
.contacts-socials {
  background-color: $colorG;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorE;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 8px;
    transition: $trs1;
    .icon {
      width: 100%;
      height: 100%;
      display: block;
      fill: $colorE;
      transition: inherit;
    }
    &.hover,
    &.touch {
      border-color: #fff;
      .icon {
        fill: #fff;
      }
    }
  }
}
.contacts-form {
  width: calc(100% - 110px);
  display: flex;
  align-items: center;
  &__group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 160px;
    &:first-child {
      flex-shrink: 0;
      .input {
        width: 220px;
      }
    }
    &:last-child {
      flex: 1 1 100%;
      .input {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  &__item {
    flex-shrink: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__text {
    flex: 0 1 100%;
  }
}

@media all and(max-width: 1440px) {
  .contacts-form {
    width: calc(100% - 90px);
  }
}
@media all and(max-width: 1024px) {
  .contacts-socials {
    &__list {
      justify-content: space-between;
    }
  }
  .contacts__bottom {
    height: 210px;
  }
}
@media all and(max-width: 768px) {
  .contacts-form {
    &__group:first-child .input {
      width: 200px;
    }
  }
}
@media all and(max-width: 576px) {
  .contact-open-btn {
    display: block;
  }
  .contacts {
    &__head {
      display: block;
    }
    &__title {
      display: block;
    }
    iframe {
      flex: 1 1 100%;
      height: auto;
    }
    .section__content {
      height: 100% !important;
      display: flex;
      flex-direction: column;
    }
    &__bottom {
      height: calc(100% - 70px);
      max-height: 100%;
      display: flex;
      flex-direction: column;
    }
    .contacts-socials {
      display: none;
    }
  }
  .contacts-socials {
    position: static;
    background-color: transparent;
    &__list {
      padding: 0;
    }
  }
  .contacts-form {
    width: 100%;
    flex: 1 1 100%;
    flex-direction: column;
    .button {
      margin-top: 20px;
      width: 100%;
    }
    &__content {
      margin: 0;
      flex-wrap: wrap;
    }
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
    &__group {
      max-width: 100% !important;
      width: 100% !important;
      height: auto;
      max-height: 100%;
      &:last-child {
        flex: 1 1 100%;
        .input {
          max-width: 100%;
        }
      }
      &:first-child {
        margin: 0 0 20px 0;
        padding: 0;
        .input {
          width: 100%;
        }
      }
    }
  }
}
