@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff2') format('woff2'),
				url('#{$file-path}.woff') format("woff");
		
	}
}

@include font-face("Manrope", "../fonts/Manrope/manrope-regular", 400);
@include font-face("Manrope", "../fonts/Manrope/manrope-medium", 500);
@include font-face("Manrope", "../fonts/Manrope/manrope-semibold", 600);
@include font-face("Manrope", "../fonts/Manrope/manrope-bold", 700);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');


