.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  &.bg {
    background-color: $bg-color4;
  }
  &__left {
    padding: 37.5px 40px;
    flex: 1 0 20%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    &__link {
      display: block;
      height: 25px;
      transition: opacity $trs1;
      &.hover,
      &.touch {
        opacity: 0.8;
        .icon {
          fill: $color3;
        }
      }
      .icon {
        display: block;
        height: 100%;
        width: auto;
        fill: #fff;
        stroke: none;
        transition: fill $trs1;
      }
    }
  }
  &__right {
    flex: 0 1 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;
  }
}
.sub-nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  &__item {
    opacity: 0;
    visibility: hidden;
    &:not(:last-child) {
      margin-right: 85px;
    }
  }
  &__link {
    transition: $trs1;
    &.hover,
    &.touch,
    &.active {
      color: $color3;
    }
    &.active {
      pointer-events: none;
    }
  }
}
.navOpened {
  .nav-btn span {
    width: 100% !important;
  }
}
.navInAnimation {
  .header .logo__link .icon {
    transition: fill $trs2 !important;
    fill: $color3 !important;
  }
}


.nav-btn {
  display: block;
  width: 30px;
  height: 18px;
  text-decoration: none;
  position: relative;
  transition: $trs1;
  &.hover,
  &.touch {
    opacity: 0.8;
    span {
      background-color: $color3;
      &:nth-child(1),
      &:nth-child(3) {
        width: 75%;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: width $trs1, background-color $trs1;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
      width: 75%;
    }
    &:nth-child(3) {
      bottom: 0px;
    }
  }
}

@media all and(max-width: 1440px) {
  .sub-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header {
    &__left {
      padding: 30px;
    }
    &__right {
      padding-right: 50px;
      font-size: 14px;
    }
  }
}