.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  &__left {
    padding: 40px;
    width: 280px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}