.home {
  &__nav {
    display: flex;
    &-item {
      width: 25%;
      height: 100%;
      border-style: solid;
      border-color: $colorF;
      cursor: pointer;
      border-width: 1px 1px 0 0;
      &:first-child {
        border-width: 1px 1px 0 1px;
      }
    }
  }
}
.home-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &:not(:first-child) {
    visibility: hidden;
  }
  &__title {
    font-family: $font2;
    margin-bottom: 0.2em;
    
  }
}

@media all and(max-width: 768px) {
  .home {
    &__nav {
      flex-wrap: wrap;
      height: 280px;
      &-item {
        width: 50%;
        height: 50%;
      }
    }
  }
}
@media all and(max-width: 576px) {
  .home {
    &__nav {
      height: 170px;
    }
  }
}