.input-size-parent {
  overflow: hidden;
}
//checkboxes
.checkbox {
  position: relative;
  padding: 0 0 0 25px;
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
  transition: $trs1;
  color: $colorN;
  overflow: hidden;
  &:before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $colorN;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    transition: $trs1;
    z-index: 2;
  }
  .icon {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 3;
    left: 2px;
    top: 2px;
    opacity: 0;
    transition: $trs1;
    fill: #fff;
  }
  input {
    position: absolute;
    visibility: hidden;
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 0;
  }
  &.checked {
    &:before {
      background-color: $colorA;
      border-color: $colorA;
    }
    .icon {
      opacity: 1;
    }
  }
  &.disabled {
    color: $colorF;
    cursor: default;
    &:before {
      border-color: $colorF;
    }
  }
}
.input {
  position: relative;
  border-bottom: 1px solid $colorN;
  width: 100%;
  padding-top: 15px;
  overflow: hidden;
  transition: $trs1;
  &.has-error {
    border-color: $colorAA;
  }
  .scroll-content {
    padding-right: 10px;
  }
  .scroll-container {
    max-height: 140px;
    .scrollbar-track-y {
      left: auto;
      right: 0;
      width: 5px;
      &:after {
        height: calc(100% - 20px);
        margin: 10px 0 10px 0;
      }
      .scrollbar-thumb {
        &:after {
          height: calc(100% - 20px);
          margin: 10px 0 10px 0;
        }
      }
    }
  }
  &__placeholder {
    position: absolute;
    line-height: 25px;
    font-size: 12px;
    top: 20px;
    transition: $trs1;
    color: $colorN;
    pointer-events: none;
  }
  &__el {
    position: relative;
    z-index: 2;
    font-size: 16px;
    resize: none;
    display: block;
    outline: none;
    border: 0;
    appearance: none;
    border-radius: 0;
    box-shadow: 0;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    color: $colorD;
    height: 35px;
    padding: 5px 0;
  }
  &.focus {
    .input__placeholder {
      transform: translateY(-100%);
    }
  }
}
.select {
  background-color: transparent;
  position: relative;
  padding-top: 15px;
  &__placeholder {
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    top: 0;
    color: $colorN;
    z-index: 1;
    pointer-events: none;
  }
  .nice-select {
    outline: none;
    width: 100%;
    border-bottom: 1px solid $colorN;
    .icon {
      pointer-events: none;
      width: 12px;
      height: 6px;
      transition: $trs1;
      position: absolute;
      right: 4px;
      bottom: 15px;
      fill: $colorN;
    }
    .current {
      width: 100%;
      display: block;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      height: 35px;
      padding: 5px 0;
      line-height: 25px;
      cursor: pointer;
      transition: $trs1;
      &.hover,
      &.touch {
        color: $colorA;
      }
      &.hover ~ .icon,
      &.touch ~ .icon {
        fill: $colorA;
      }
    }
    &.open {
      .icon {
        transform: rotate(180deg);
      }
      .nice-select__list {
        opacity: 1;
        pointer-events: all;
        transform: translate(0);
      }
    }
    &__list {
      background-color: $colorG;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      margin-top: 4px;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%; 
      left: 0;
      transform-origin: 50% 0;
      transform: translateY(5px);
      transition: $trs1;
      z-index: 10;
      height: 130px;
      .scrollbar-track-y {
        width: 14px !important;
        left: auto;
        right: 0;
        &:after {
          width: 4px !important;
          border-radius: 4px !important;
          height: calc(100% - 10px) !important;
          margin: 5px auto 5px auto !important;
        }
        .scrollbar-thumb {
          &:after {
            width: 4px !important;
            border-radius: 4px !important;
            height: calc(100% - 10px) !important;
            margin: 5px auto 5px auto !important;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .option {
      cursor: pointer;
      line-height: 40px;
      outline: none;
      padding: 0 14px;
      transition: $trs1;
      color: $colorE;
      position: relative;
      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          width: calc(100% - 28px);
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 14px;
          background-color: $colorF;
        }
      }
      &.hover,
      &.touch {
        color: $colorA;
      }
      &.selected { 
        color: $colorF;
        pointer-events: none;
      }
    }
  }
}