.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $colorI;
  backdrop-filter: blur(5px);
  z-index: 99;
  width: 20%;
  min-height: 215px;
  .scrollbar-track {
    visibility: hidden;
  }
  .contacts-socials {
    display: none;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__items {
    display: none;
    flex: 1 1 100%;
    overflow: auto;
    .scroll-container {
      height: 100%;
    }
  }
  &__item {
    opacity: 0;
    visibility: hidden;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__link {
    font-weight: 500;
    display: block;
    transition: $trs1;
    position: relative;
    overflow: hidden;
    line-height: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background-color: $colorA;
      position: absolute;
      bottom: 0;
      left: 40px;
      transform: translateX(-50%) scaleX(0);
      transition: inherit;
    }
    &.hover,
    &.touch,
    &.active {
      color: $colorA;
      &:before {
        transform: translateX(0) scaleX(1);
      }
    }
    &.active {
      pointer-events: none;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  &__footer {
    list-style: none;
    flex: 0 0 auto;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 12px;
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__phone {
    font-size: 16px;
    &.hover,
    &.touch {
      opacity: 0.8;
      color: $colorA;
    }
  }
}


@media all and(max-width: 1440px) {
  .nav {
    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__link {
      &:before {
        left: 30px;
      }
    }
  }
}

@media all and(max-width: 1200px) {
  .nav {
    width: 250px;
  }
}
@media all and(max-width: 1024px) {
  .nav {
    width: 25%;
    &__footer {
      margin: 0 !important;
    }
  }
}
@media all and(max-width: 992px) {
  .nav {
    width: 250px;
  }
}
@media all and(max-width: 768px) {
  .nav {
    width: 50%;
  }
}
@media all and(max-width: 576px) {
  .nav {
    width: 100%;
    &__phone {
      margin-bottom: 15px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__link {
      &:before {
        left: 20px;
      }
    }
    .contacts-socials {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      top: auto;
      height: auto;
      li {
        visibility: hidden;
        opacity: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}