@import "../../../node_modules//slick-carousel/slick/slick.scss";

.slick-slide {
  a, button {
    outline: none;
  }
}
.fuel-slider-pagination {
  display: flex;
  align-items: center;
  margin: 34px auto 30px auto;
  width: calc(30%);
  position: relative;
  height: 30px;
  flex-shrink: 0;
  .line {
    margin: 0 15px;
    flex: 1 1 100%;
    height: 2px;
    background-color: $colorF;
    z-index: 1;
    top: 14px;
  }
  &__items {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 30px);
    left: -15px;
    z-index: 2;
  }
  &__item {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    display: block;
    border: 2px solid transparent;
    transition: $trs1;
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      position: absolute;
      top: 12px;
      left: -2px;
      transition: $trs1;
      background-color: $colorF;
    }
    &:last-child {
      &:before {
        width: 15px;
      }
    }
    &:first-child {
      &:before {
        width: 15px;
        left: 13px;
      }
    }
    .title {
      position: absolute;
      white-space: nowrap;
      top: 0;
      padding-bottom: 10px;
      display: inline-block;
      left: 50%;
      transform: translate(-50%, -100%);
      color: $colorF;
      transition: $trs1;
    }
    .dot {
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      top: 7px;
      left: 7px;
      background-color: $colorF;
      border-radius: 100%;
      transition: $trs1;
      z-index: 2;
    }
    &.hover,
    &.touch {
      border-color: $colorE;
      &:before {
        background-color: transparent;
      }
      .dot {
        background-color: $colorE;
      }
      .title {
        color: $colorE;
      }
    }
    &.active {
      border-color: $colorA;
      box-shadow: 0px 0px 14px 4px rgba(111,222,155,1);
      pointer-events: none;
      &:before {
        background-color: transparent;
      }
      .title {
        color: #fff;
      }
      .dot {
        background-color: $colorA;
        box-shadow: 0px 0px 14px 4px rgba(111,222,155,1);
      }
    }
  }
}
.fuel-slider {
  overflow: hidden;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  flex: 1 1 240px;
  max-height: 240px;
  &__center {
    margin: 0 -15px;
    height: 100%;
  }
  .slider {
    margin: 0 auto;
    width: 33.33%;
    max-width: 1350px;
    height: 100%;
  }
  .slick-list {
    overflow: visible;
    height: 100%;
    //margin: 0 -15px;
  }
  .slick-track {
    height: 100%;
  }
}
.fuel-slide {
  padding: 15px;
  outline: none;
  position: relative;
  height: 100%;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $trs1;
    background-color: $colorL;
    font-size: 30px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &.hover,
    &.touch {
      opacity: 0.95;
    }
  }
  &__top {
    border-bottom: 1px solid $colorN;
    display: flex;
    align-items: flex-start;
    padding: 14px 30px;
    flex: 1 0 auto;
    transition: $trs1;
    opacity: 0.25;
    pointer-events: none;
  }
  &__label {
    display: block;
    font-size: 14px;
    color: $colorN;
    margin-bottom: 10px;
    line-height: 1;
  }
  &__price {
    color: $colorN;
    opacity: 0.25;
    font-family: $font2;
    transition: $trs1;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    line-height: 1;

  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &__bottom {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
    transition: $trs1;
    opacity: 0.25;
    pointer-events: none;
  }
  &__title {
    padding: 20px 15px;
    flex: 1 1 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    color: $colorA;
    span {
      white-space: nowrap;
    }
  }
  &__pasport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 30%;
    height: 100%;
    border-right: 1px solid $colorN;
    .icon {
      width: 40px;
      height: 40px;
      fill: $colorN;
      transition: $trs1;
    }
    &.hover,
    &.touch {
      .icon {
        fill: $colorA;
      }
    }
    span {
      font-size: 14px;
      color: $colorA;
      margin-top: 10px;
    }
  }
  &__index {
    position: absolute;
    top: 14px;
    right: 10px;
    color: $colorN;
    font-size: 14px;
    opacity: 0.25;
  }
  &.slick-center {
    .fuel-slide {
      &__container {
        height: 100%;
        width: 100%;
        cursor: default;
        opacity: 1 !important;
      }
      &__index {
        opacity: 1;
      }
      &__pasport {
        .icon {
          width: 55px;
          height: 55px;
        }
      }
      &__top,
      &__bottom {
        opacity: 1;
        pointer-events: all;
      }
      &__price {
        color: #fff;
        opacity: 1;
      }
    }
  }
}
.opt-info-item {
  visibility: hidden;
  opacity: 0;
  transition: $trs2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 720px;
  transform: translate(-50%, -50%);
  max-height: 100%;
  &.shadow {
    &:before,
    &:after {
      opacity: 0;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.opt {
  &__mobile-button {
    display: none;
  }
  &__selection {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 30%;
    right: auto;
    left: 20%;
    display: flex;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: auto;
      max-width: 280px;
      max-height: 180px;
    }
  }
  &__mobile-select {
    display: none;
  }
  &__info {
    width: 50%;
    right: 0;
    left: auto;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    &-head {
      display: none;
    }
    .popup-close {
      right: 4px;
    }
    &-content {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &-container {
      flex: 1 1 100%;
      position: relative;
    }
  }
}

@media all and(max-width: 1200px) {
  .opt {
    &__selection {
      left: 250px;
    }
  }
}

@media all and(max-width: 1440px) {
  .fuel-slide {
    &__price,
    &__title {
      font-size: 22px;
    }
  }
}
//fix height
@media all and(min-width: 768px) {
  @media all and(max-height: 650px) {
    .fuel-slide.slick-center .fuel-slide__pasport .icon {
      width: 40px;
      height: 40px;
    }
    .fuel-slide {
      &__container {
        height: 100%;
      }
    }
  }
  @media all and(max-height: 600px) {
    .fuel-slide__pasport .icon,
    .fuel-slide.slick-center .fuel-slide__pasport .icon {
      width: 30px;
      height: 30px;
    }
    .fuel-slide__pasport span {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
@media all and(max-width: 1376px) {
  .fuel-slide {
    &__pasport {
      
    }
  }
}
@media all and(max-width: 1200px) {
  .opt {
    &__info {
      width: calc(70% - 250px);
    }
  }
  .fuel-slide {
    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }
}
@media all and(max-width: 1024px) {
  .opt {
    &__selection {
      left: 0;
      width: 300px;
    }
    &__info {
      width: calc(100% - 300px);
      left: 300px;
    }
  }
  .fuel-slider-pagination {
    width: 300px;
  }
  .fuel-slider {
    overflow: visible;
    .slider {
      width: 400px;
    }
  }
}

@media all and(max-width: 768px) {
  .fuel-slider {
    flex: 1 1 220px;
    max-height: 220px;
  }
  .opt {
    .section__content {
      justify-content: center;
    }
    &__selection {
      width: 240px;
    }
    &__info {
      width: calc(100% - 240px);
      left: 240px;
    }
  }
}
@media all and(max-width: 576px) {
  .fuel-slider {
    padding: 0 50px;
    max-height: 160px;
    order: 1;
    margin: 30px 0;
    .slider {
      width: 100%;
      max-width: 320px;
    }
  }
  .fuel-slider-pagination {
    width: 150px;
    order: 2;
    margin: 0 auto;
    height: 19px;
    .line {
      margin: 0 9.5px;
      top: 9.5px;
      height: 1px;
    }
    &__items {
      left: -10px;
      width: calc(100% + 20px);
    }
    &__item {
      width: 19px;
      height: 19px;
      border-width: 1px;
      &:before {
        top: 8px;
        height: 1px;
        width: 20px;
        left: -1px;
      }
      &:first-child:before {
        width: 10px;
        left: 10px;
      }
      &:last-child:before {
        width: 10px;
        left: -2px;
      }
      .dot {
        width: 9px;
        height: 9px;
        top: 4px;
        left: 4px;
      }
      .title {
        display: none;
      }
    }
  }
  .fuel-slide {
    padding: 20px 30px;
    &__container {
      height: 100%;
      width: calc(100% - 20px)!important;
      opacity: 0.8;
    }
    &.slick-center {
      opacity: 1;
    }
    &__top {
      padding: 12px 20px;
    }
    &__item:not(:last-child) {
      margin-right: 20px;
    }
    &__price {
      font-size: 16px;
    }
    &__index {
      font-size: 12px;
      line-height: 1;
    }
    &__label {
      font-size: 12px;
      margin-bottom: 8px;
    }
    &__title {
      font-size: 16px;
    }
    &__pasport {
      flex: 1 0 40%;
      span {
        font-size: 12px;
        line-height: 1;
      }
      .icon {
        width: 38px;
        height: 38px;
      }
    }
    &.slick-center {
      .fuel-slide {
        &__pasport {
          .icon {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
    &__index {
      top: 10px;
    }
  }
  .opt-info-item {
    transform: translate(0);
    left: 0;
    top: 0;
    &.shadow {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
  .opt {
    &__mobile-button {
      display: block;
      position: relative;
      &:first-child {
        z-index: 1;
        margin-bottom: 15px;
      }
      &:nth-child(2) {
        z-index: 3;
      }
      .button {
        display: block;
        width: 100%;
        position: relative;
      }
    }
    &__info {
      width: 100%;
      left: 0;
      height: auto;
      backdrop-filter: none;
      background-color: transparent;
      z-index: 1;
      &-content {
        background-color: $colorH;
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: auto;
        padding-bottom: 60px;
      }
      &-head {
        display: block;
        background-color: $colorI;
        height: 50px;
        padding: 0 20px;
        position: relative;
        flex-shrink: 0;
      }
      &-container {
        flex: 1 1 195px;

      }
    }
    &__mobile-select {
      display: block;
      width: 100%;
    }
    &__selection {
      display: none;
    }
  }
}
