h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  font-family: $font2;
}

p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}


.t-a-center {
  display: block;
  text-align: center;
}
.ff-2 {
  font-family: 'Manrope';
}
.t-color-gray {
  color: $colorE;
}
.t-color-station {
  color: $station;
}
.t-color-base {
  color: $base;
}
.t-color-factory {
  color: $factory;
}
.t-w-500 {
  max-width: 550px;
}

.t-size-72 {
  font-size: 72px;
}
.t-size-64 {
  font-size: 64px;
}
.t-size-48 {
  font-size: 64px;
}
.t-size-36 {
  font-size: 36px;
}
.t-size-24 {
  font-size: 24px;
}
.t-size-20 {
  font-size: 20px;
}
.t-size-18 {
  font-size: 18px;
}
.t-size-16 {
  font-size: 16px;
}
.t-size-14 {
  font-size: 14px;
}
.t-size-12 {
  font-size: 12px;
}



@media all and(max-width: 1440px) {
  .t-size-64 {
    font-size: 54px;
  }
  .t-size-48 {
    font-size: 46px;
  }
  .t-size-36 {
    font-size: 24px;
  }
  .t-size-24 {
    font-size: 22px;
  }
}

@media all and(max-width: 1024px) {
  .page-head {
    margin-bottom: 40px;
  }
  .t-size-36 {
    font-size: 22px;
  }
  .t-size-64 {
    font-size: 46px;
    line-height: 1.25;
  }
  .t-size-48 {
    font-size: 34px;
  }
  .t-size-20 {
    font-size: 22px;
  }
}
@media all and(max-width: 768px) {
  .page-head {
    margin-bottom: 35px;
    &__title:not(:last-child) {
      margin-bottom: 15px;
    }
    &__description {
      font-size: 16px;
      br {
        display: none;
      }
    }
  }
  .t-size-36 {
    font-size: 24px;
  }
  .t-size-18 {
    font-size: 16px;
  }
  .t-size-64 {
    font-size: 40px;
    line-height: 1.5;
  }
  .t-size-48 {
    font-size: 32px;
  }
}
@media all and(max-width: 576px) {
  .page-head {
    margin-bottom: 30px;
    &__description {
      font-size: 14px;
    }
  }
  .t-size-36 {
    font-size: 16px;
  }
  .title_style1 {
    margin-bottom: 25px;
  }
  .t-size-24 {
    font-size: 16px;
  }
  .t-size-64 {
    font-size: 24px;
    line-height: 1.5;
  }
  .t-size-48 {
    font-size: 22px;
  }
}
@media all and(max-width: 360px) {
  .t-size-36 {
    font-size: 18px;
  }
}