.icon {
  fill: #000;
  stroke: #000;
  display: block;
  margin: 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  transition: $trs1;
  &_style1 {
    border-radius: 2px;
    background-color: $colorA;
    font-size: 14px;
    line-height: 20px;
    color: $colorI;
    text-align: center;
    padding: 10px 20px;
    &.touch,
    &.hover {
      opacity: 0.8;
    }
  }
  &_style2 {
    border-radius: 2px;
    border: 1px solid $colorA;
    color: $colorA;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 20px;
    &.touch,
    &.hover {
      background-color: $colorA;
      color: $colorI;
    }
  }
}

.link {
  color: $colorN;
  transition: $trs1;
  text-decoration: none;
  border-bottom: 1px solid $colorN;
  &.touch,
  &.hover {
    color: $colorA;
    border-color: transparent;
  }
}
a {
  color: inherit;
  text-decoration: none;
  transition: $trs1;
}


//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.5);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    background-color: transparent;
    .lazy {
      position: static;
      left: 0;
      top: 0;
      width:100%!important;
      height: auto!important;
      transform: translate(0);
    }
  }
}
.icon {
  width: 50px; 
  height: 50px;
  fill: #000;
  stroke: #000;
}
.scene {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.desktop {
  .scene {
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    left: -50px;
    top: -50px;
  }
}
.popup-head {
  height: 105px;
  position: relative;
}
.popup-close {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  .icon {
    width: 20px;
    height: 20px;
    fill: $colorE;
    transition: $trs1;
  }
  &.hover,
  &.touch {
    .icon {
      fill: #fff;
    }
  }
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $colorG;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      line-height: 22px;
      &:first-child {
        color: $colorN;
        font-weight: 300;
        padding-right: 15px;
      }
      &:last-child {
        text-align: right;
      }
    }
    .icon {
      height: 14px;
      width: 20px;
      fill: $colorA;
    }
  }
}
.bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &_mask1 {
    &:before {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &_mask2 {
    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &_mask3 {
    &:before {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &_mask4 {
    &:before {
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &_mask5 {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(52, 57, 66, 0.8);
    }
  }
  &_mask8 {
    &:before {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
.js-animated {
  user-select: none;
  cursor: default;
}
.desktop .js-animated {
  cursor: pointer;
}
.copy {
  color: $colorN;
}
.pagination {
  position: fixed;
  z-index: 101;
  right: 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: $trs2;
    padding: 10px;
    span {
      color: #fff;
      transition: color $trs1;
      transform: rotate(90deg);
    }
    .icon {
      height: 55px;
      width: 8px;
      display: block;
      transition: fill $trs1;
      fill: #fff;
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.hover,
    &.touch {
      .icon {
        fill: $colorA !important;
      }
      span {
        color: $colorA !important;
      }
    }
    &:first-child {
      margin-bottom: 20px;
      span {
        margin-bottom: 10px;
      }
    }
    &:last-child {
      span {
        margin-top: 10px;
      }
    }
  }
  &.dark {
    .pagination-arrow {
      .icon {
        fill: #000;
      }
      span {
        color: #000;
      }
    }
  }
}
.manufacturers {
  &__items {
    display: flex;
    height: 100%;
  }
  &__item {
    height: 100%;
    width: 25%;
    border-style: solid;
    border-color: $colorF;
    border-width: 1px 1px 0 0;
    &:first-child {
      border-width: 1px 1px 0 1px;
      img {
        width: 110px;
        height: 110px;
      }
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
}
.big-block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: $trs2;
  font-family: $font2;
  &__text {
    position: relative;
    font-weight: 300;
    padding: 0 20px;
  }
  .icon {
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 74px;
    height: 8px;
    fill: #fff;
    transition: $trs1;
  }
  &.hover,
  &.touch {
    background-color: rgba(0, 0, 0, 0.75);
    .icon {
      fill: $colorA;
      transform: translateX(5px);
    }
  }
}
.popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  .scrollbar-track-y {
    visibility: hidden;
    opacity: 0;
  }
  .scroll-container {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .scroll-content {
    margin: auto;
    width: 100%;
    max-width: 400px;
  }
  &__close {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: default;
    top: 0;
    left: 0;
  }
  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: auto;
  }
  &__element {
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  &__head {
    background-color: $colorI;
    height: 50px;
    padding: 0 20px;
    position: relative;
  }
  &__title {
    line-height: 50px;
    font-size: 16px;
    font-family: $font2;
    font-weight: 500;
  }
  .popup-close {
    width: 50px;
    height: 50px;
    right: 4px;
    top: 0;
    .icon {
      width: 15px;
      height: 15px;
    }
  }
  &__content {
    padding: 25px 20px 35px 20px;
    background-color: $colorM;
  }
}
.form-order {
  &__group {
    margin-bottom: 30px;
  }
  .button {
    width: 100%;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.documents {
  .section__title {
    margin-bottom: 0.75em;
  }
  .section__content {
    justify-content: flex-end;
  }
  .scroll-container {
    display: flex;
    height: 100%;
    max-width: 1240px;
  }
  .scroll-content {
    margin: auto auto 0 auto;
  }
}
.documents-item {
  &__container {
    padding: 10px 10px 10px 20px;
    background-color: $colorG;
    display: block;
    transition: $trs1;
    &.hover,
    &.touch {
      background-color: $colorA;
      .documents-item {
        &__title {
          color: $colorG;
        }
        &__format {
          color: $colorG;
        }
        &__big {
          fill: $colorG;
          opacity: 1;
        }
        &__index {
          color: $colorG;
        }
      }
    }
  }
  &__content {
    height: 60px;
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  &__format {
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: $colorF;
    transition: $trs1;
  }
  &__index {
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: $colorN;
    transition: $trs1;
  }
  &__small {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    fill: $colorA;
  }
  &__big {
    position: absolute;
    height: 65px;
    width: 60px;
    right: 35px;
    top: -2.5px;
    fill: $colorF;
    transition: $trs1;
    opacity: 0.5;
  }
  &__title {
    font-size: 12px;
    line-height: 16px;
    display: block;
    padding-right: 105px;
    width: 100%;
    transform: translateY(3px);
    color: $colorE;
    transition: $trs1;
  }
}


@media all and(max-width: 1440px) {
  .popup-head {
    height: 85px;
  }
  .popup-close {
    right: 20px;
  }
}
@media all and(max-width: 1376px) {
  .manufacturers {
    &__item {
      &:first-child {
        img{
          width: 100px;
          height: 100px;
        } 
      }
      img {
        width: 130px;
        height: 130px;
      }
    }
  }
}
@media all and(max-width: 1024px) {
  .manufacturers {
    &__item {
      &:first-child {
        img{
          width: 90px;
          height: 90px;
        } 
      }
      img {
        width: 110px;
        height: 110px;
      }
    }
  }
}
@media all and(max-width: 768px) {
  .pagination {
    top: 0;
    right: 90px;
    height: 80px;
    flex-direction: row;
    width: auto;
    &-arrow {
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      width: 110px;
      span {
        transform: rotate(0);
        margin: 0 !important;
      }
      &:first-child {
        margin: 0 20px 0 0;
        .icon {
          transform: rotate(-90deg) translateY(-25px);
        }
      }
      &:last-child {
        .icon {
          transform: rotate(-90deg) translateY(25px);
        }
      }
    }
  }
  .popup-close {
    right: 25px;
  }
  .big-block-btn .icon {
    bottom: -15px;
  }
  .manufacturers {
    &__bottom {
      height: auto;
    }
    &__items {
      flex-wrap: wrap;
      height: 280px;
    }
    &__item {
      width: 50%;
      height: 50%;
      border-width: 1px 0 0 0;
      &:first-child {
        border-width: 1px 0 0 0;
        img{
          width: 80px;
          height: 80px;
        } 
      }
      &:nth-child(2n) {
        border-width: 1px 0 0 1px;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media all and(max-width: 576px) {
  .pagination {
    height: 70px;
    right: 70px;
    &-arrow {
      padding: 0;
      height: 20px;
      width: 45px;
      overflow: hidden;
      font-size: 14px;
      &:first-child {
        margin: 0 15px 0 0;
        .icon {
          transform: rotate(-90deg) translateY(8px);
        }
      }
      &:last-child {
        .icon {
          transform: rotate(-90deg) translateY(-8px);
        }
      }
    }
  }
  .big-block-btn {
    span {
      font-size: 12px;
      display: block;
      line-height: 1.25;
    }
    .icon {
      bottom: -13px;
      use {
        transform: translateX(-35px);
      }
    }
  }
  .popup-close {
    right: 15px;
    .icon {
      width: 15px;
      height: 15px;
    }
  }
  .manufacturers {
    &__items {
      height: 200px;
    }
    &__item {
      &:first-child {
        img{
          width: 65px;
          height: 65px;
        } 
      }
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}