.icon {
  fill: #000;
  stroke: #000;
  display: block;
  margin: 0;
}
.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  &_style1 {
    border-radius: 2px;
    background-color: $colorA;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    text-align: center;
    color: $colorI;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: $trs1;
}


//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.5);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    background-color: transparent;
    .lazy {
      position: static;
      left: 0;
      top: 0;
      width:100%!important;
      height: auto!important;
      transform: translate(0);
    }
  }
}
.icon {
  width: 50px; 
  height: 50px;
  fill: #000;
  stroke: #000;
}
.scene {
  position: absolute;
  z-index: 1;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  left: -50px;
  top: -50px;
}
.bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_mask {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &_mask2 {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(52, 57, 66, 0.8);
    }
  }
}
.js-animated {
  user-select: none;
}
.copy {
  color: $colorF;
}
.pagination {
  position: fixed;
  z-index: 101;
  right: 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: $trs2;
    padding: 10px;
    span {
      color: #fff;
      transition: color $trs1;
      transform: rotate(90deg);
    }
    .icon {
      height: 55px;
      width: 8px;
      display: block;
      transition: fill $trs1;
      fill: #fff;
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.hover,
    &.touch {
      .icon {
        fill: $colorA !important;
      }
      span {
        color: $colorA !important;
      }
    }
    &:first-child {
      margin-bottom: 20px;
      span {
        margin-bottom: 10px;
      }
    }
    &:last-child {
      span {
        margin-top: 10px;
      }
    }
  }
  &.dark {
    .pagination-arrow {
      .icon {
        fill: #000;
      }
      span {
        color: #000;
      }
    }
  }
}
.manufacturers {
  &__items {
    display: flex;
    height: 100%;
  }
  &__item {
    height: 100%;
    width: 25%;
    border-style: solid;
    border-color: $colorF;
    border-width: 1px 1px 0 0;
    &:first-child {
      border-width: 1px 1px 0 1px;
      img {
        width: 110px;
        height: 110px;
      }
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
}
.big-block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: $trs2;
  font-family: $font2;
  &__text {
    position: relative;
  }
  .icon {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 74px;
    height: 8px;
    fill: #fff;
    transition: $trs1;
  }
  &.hover,
  &.touch {
    background-color: rgba(0, 0, 0, 0.75);
    .icon {
      fill: $colorA;
      transform: translateX(5px);
    }
  }
}
.input {
  position: relative;
  border-bottom: 1px solid $colorE;
  width: 100%;
  padding-top: 15px;
  &__placeholder {
    position: absolute;
    line-height: 20px;
    font-size: 12px;
    top: 20px;
    transition: $trs1;
    z-index: 1;
  }
  &__el {
    position: relative;
    z-index: 2;
    font-size: 16px;
    resize: none;
    display: block;
    outline: none;
    border: 0;
    appearance: none;
    border-radius: 0;
    box-shadow: 0;
    //transition: $trs2;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    color: $colorD;
    height: 30px;
    padding: 3px 0;
  }
  &.focus {
    .input__placeholder {
      transform: translateY(-100%);
    }
  }
}


@media all and(max-width: 1440px) {
  
}

@media all and(max-width: 768px) {
  .pagination {
    top: 0;
    right: 90px;
    height: 80px;
    flex-direction: row;
    width: auto;
    &-arrow {
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      width: 110px;
      span {
        transform: rotate(0);
        margin: 0 !important;
      }
      &:first-child {
        margin: 0 20px 0 0;
        .icon {
          transform: rotate(-90deg) translateY(-25px);
        }
      }
      &:last-child {
        .icon {
          transform: rotate(-90deg) translateY(25px);
        }
      }
    }
  }
}

@media all and(max-width: 576px) {
  .pagination {
    height: 70px;
    right: 70px;
    &-arrow {
      padding: 0;
      height: 20px;
      width: 45px;
      overflow: hidden;
      font-size: 14px;
      &:first-child {
        margin: 0 15px 0 0;
        .icon {
          transform: rotate(-90deg) translateY(8px);
        }
      }
      &:last-child {
        .icon {
          transform: rotate(-90deg) translateY(-8px);
        }
      }
    }
  }
  .big-block-btn {
    span {
      font-size: 12px;
    }
    .icon {
      bottom: -10px;
      use {
        transform: translateX(-35px);
      }
    }
  }
}