.icon {
  fill: #000;
  stroke: #000;
}
.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
}
.nav-btn {
  display: block;
  width: 30px;
  height: 18px;
  text-decoration: none;
  position: relative;
  transition: $trs1;
  &.hover,
  &.touch {
    opacity: 0.8;
    span {
      &:nth-child(1),
      &:nth-child(3) {
        width: 75%;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: inherit;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
      width: 75%;
    }
    &:nth-child(3) {
      bottom: 0px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: $trs1;
}


//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.5);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    background-color: transparent;
    .lazy {
      position: static;
      left: 0;
      top: 0;
      width:100%!important;
      height: auto!important;
      transform: translate(0);
    }
  }
}

//@at-root
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_mask {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
.logo {
  &__link {
    display: block;
    width: 130px;
    height: auto;
    transition: opacity $trs1;
    &.hover,
    &.touch {
      opacity: 0.8;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $bg-color2;
  z-index: 99;
  width: 280px;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__items {
    height: 100%;
    padding: 40px;
  }
  &__copy {
    flex-shrink: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
  }
  &__phone {
    margin-bottom: 20px;
    &.hover,
    &.touch {
      opacity: 0.8;
    }
  }
}
.copy {
  color: #959595;
}