@import "./partials/normalize";
@import "./partials/fonts";
@import "./partials/custom-grid";

//color
$border-color: #f5f5f5;
$dot-color: #e0e0e0;
$bg-color: #363C46;
$bg-color2: #171717;
//transition
$trs1: .25s;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-family: 'Roboto';
  font-size: 16px;
  min-width: 320px;
  position: fixed;
  background-color: $bg-color;
  color: #fff;
}
.page-wrapper {
  height: 100%;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  position: relative;
}

@import "./partials/ui";
@import "./partials/header";
@import "./partials/text";
@import "./partials/_home.scss";


