@import "./partials/normalize";
@import "./partials/fonts";
@import "./partials/custom-grid";

//color
$border-color: #767676;
$dot-color: #e0e0e0;
$bg-color: #363C46;
$bg-color2: #121212;
$bg-color3: #0F0F0F;
$bg-color4:#282C33;
$color3: #6FDE9B;
$color4: #FCB566;
//transition
$trs1: .25s;
$trs2: .5s;
//fonts
$font1: 'Roboto';
$font2: 'Manrope';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-family: $font1;
  font-size: 16px;
  min-width: 320px;
  position: fixed;
  background-color: $bg-color;
  color: #fff;
  line-height: 1.5;
}
.page-wrapper {
  height: 100%;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  position: relative;
}

@import "./partials/ui";
@import "./partials/header";
@import "./partials/category";
@import "./partials/contacts";
@import "./partials/nav";
@import "./partials/map";
@import "./partials/text";
@import "./partials/home";


