extends layout/layout
block content
  include blocks/header
  include blocks/subnav
  include blocks/nav
  include blocks/pagination
  .slide-container
    section.section.section-slide.home.js-subnav-hidden
      .home__content.section__display
        .home-slide
          .scene
            .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home1.jpg")')
          .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
            h5.section__title.t-size-64 Топливная компания
            span.t-size-24 Сеть современных АЗC. Топливная логистика. Нефтебазы.
        .home-slide
          .scene
            .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home2.jpg")')
          .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
            h5.section__title.t-size-64 Сеть АЗС
            //span.t-size-24.d-hidden Без описания
        .home-slide
          .scene
            .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home3.jpg")')
          .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
            h5.section__title.t-size-64 Топливо оптом
            //span.t-size-24.d-hidden Без описания
        .home-slide
          .scene
            .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home4.jpg")')
          .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
            h5.section__title.t-size-64 Топливная<br> логистика
            //span.t-size-24.d-hidden Без описания
        .home-slide
          .scene
            .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home5.jpg")')
          .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
            h5.t-size-64 Нефтебазы
            //span.t-size-24.d-hidden Без описания
      .home__nav.section__bottom
        .home__nav-item.js-animated.big-block-btn(data-slide='2')
          .big-block-btn__text
            span.t-size-20 Заправиться
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='3')
          .big-block-btn__text
            span.t-size-20 Закупить
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='4')
          .big-block-btn__text
            span.t-size-20 Перевезти
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='5')
          .big-block-btn__text
            span.t-size-20 Хранить
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
    //инфраструктура компании
    include blocks/map-section
    //сеть азс
    section.section.section-slide.category-preview
      .section__display
        .scene
          .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home2.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.content-b.p-b-p
          .section__container
            h5.section__title.t-size-64 Сеть АЗС
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 Кофортный отдых в пути
            p.t-color-gray.t-w-500 Наша современная сеть АЗС всегда обеспечит Вас качественным топливом и удобным сервисом. Будем рады видеть вас на наших заправках.
    //оптовые продажи
    section.section.section-slide.category-preview.active
      .section__display
        .scene
          .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home3.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.content-b.p-b-p
          .section__container
            h5.section__title.t-size-64 Топливо оптом
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 Прямые поставки от производителей
            p.t-color-gray.t-w-500 Оптовые поставки бензина, дизельного топлива и СМТ. Доставим нашими бензовозами, или отгрузим топливо в Ваши бензовозы на заводах производителях.
            a(href="wholesale-fuel/").button.button_style1 Перейти на страницу
        a(href="wholesale-fuel/").category-preview__more.js-animated.big-block-btn
          .big-block-btn__text
            span.t-size-20 Перейти
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
    //Топливная логистика
    section.section.section-slide.category-preview
      .section__display
        .scene
          .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home4.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.content-b.p-b-p
          .section__container
            h5.section__title.t-size-64 Топливная<br> логистика
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 Любой объем на любое расстояние
            p.t-color-gray.t-w-500 Доставляем топливо собственными бензовозами по территории Южного и Центрального федерального округа. В собственности новый автопарк бензовозов, емкость бензовозов от пяти до сорока кубических метров.
    //Нефтебазы
    section.section.section-slide.category-preview
      .section__display
        .scene
          .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home5.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.content-b.p-b-p
          .section__container
            h5.section__title.t-size-64 Нефтебазы
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 Хранение вашего топлива
            p.t-color-gray.t-w-500 На 2019 год наши нефтебазы расположены в двух областях ЦЧР - Воронежская и Тульская области. Готовы принять ваше топливо на хранение. Совокупный объем - 5500 тонн. 
    //Утилизация
    section.section.section-slide.category-preview
      .section__display
        .scene
          .bg.bg_mask(data-depth="0.05" style='background-image: url("img/bg/home6.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.content-b.p-b-p
          .section__container
            h5.section__title.t-size-64 Утилизация
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 Полный цикл переработки
            p.t-color-gray.t-w-500 Экологическое предприятие полного цикла по сбору, утилизации и транспортировке нефтесодержащих отходов I-IV класса опасности.Мы работаем на основании действующей лицензии. Все наши клиенты получают полный пакет отчетных документов.
            a(href="http://ecopromvrn.ru/" target='_blank').button.button_style1 Перейти на сайт
        a(href="http://ecopromvrn.ru/" target='_blank').category-preview__more.js-animated.big-block-btn
          .big-block-btn__text
            span.t-size-20 Перейти
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
    include blocks/contacts


