extends layout/layout
block content
  include blocks/header
  include blocks/subnav
  include blocks/nav
  .slide-container
    section.section.section-slide.js-nav-hidden
      .section__display
        .section__content.p-t-h
          .scroll-container.h-c-100
            .scroll-child.p-s.p-r-p.p-b-p
              span.test content


