mixin pag(title)
  a(href="javascript:void(0)").fuel-slider-pagination__item.js-animated
    span.dot

section.section.section-slide.cars
  //opt slider
  .section__display
    .scene
      .bg.bg_mask5(data-depth="0.05" data-image='img/bg/bg2.jpg')
    .section__content.p-s.p-r-p.p-t-h.p-b-p.content-b.js-mobile-full-size
      .cars__content
        //mobile select
        .opt__mobile-select
          .select.opt-main-select
            span.select__placeholder Выберите тип автомобиля
            select(data-icon='img/icons/sprite.svg#arb')
              option(value="КАМАЗ 26107") КАМАЗ 26107
              option(value="МАЗ 28095") МАЗ 28095
              option(value="ИВЕКО 27726") ИВЕКО 27726
              option(value="ИВЕКО 27972") ИВЕКО 27972
              option(value="КАМАЗ 28010") КАМАЗ 28010
              option(value="ГРАЗ 4910") ГРАЗ 4910
              option(value="KENWORTH 26107") KENWORTH 26107
              option(value="КАМАЗ 27914") КАМАЗ 27914
        //grad
        svg.cars-slide__grad
          defs
            lineargradient#gradient(x1='88', y1='0', x2='88', y2='112' gradientunits='userSpaceOnUse')
              stop(stop-color='#6FDE9B')
              stop(offset='1', stop-color='#129042', stop-opacity='0')
              stop(offset='1', stop-color='#6FDE9B')
        //slider
        .cars-slider.js-no-scroll
          mixin slide(area1, area2, area3)
            .cars-slide
              .cars-slide__image
                svg(viewBox="0 0 698 195").cars-slide__car
                  use(xlink:href='img/icons/cars-sprite.svg#tanker')
                svg(viewBox="0 0 462.938 462.974").cars-slide__wheel.wheel1
                  use(xlink:href='img/icons/cars-sprite.svg#wheel')  
                svg(viewBox="0 0 462.938 462.974").cars-slide__wheel.wheel2
                  use(xlink:href='img/icons/cars-sprite.svg#wheel')  
                svg(viewBox="0 0 462.938 462.974").cars-slide__wheel.wheel3
                  use(xlink:href='img/icons/cars-sprite.svg#wheel')  
                svg(viewBox="0 0 462.938 462.974").cars-slide__wheel.wheel4
                  use(xlink:href='img/icons/cars-sprite.svg#wheel')  
                svg(viewBox="0 0 462.938 462.974").cars-slide__wheel.wheel5
                  use(xlink:href='img/icons/cars-sprite.svg#wheel')
                //svg(viewBox="0 0 176 111" fill="url(#gradient)").cars-slide__gradient.gradient1
                  use(xlink:href='img/icons/cars-sprite.svg#gradient1')
                //svg(viewBox="0 0 176 111" fill="url(#gradient)").cars-slide__gradient.gradient2
                  use(xlink:href='img/icons/cars-sprite.svg#gradient2')
                //svg(viewBox="0 0 175 112" fill="url(#gradient)").cars-slide__gradient.gradient3
                  use(xlink:href='img/icons/cars-sprite.svg#gradient3')
          +slide()

        //pagination
        .fuel-slider-pagination
          .fuel-slider-pagination__container
            span.line
            span.line
            span.line
            span.line
            span.line
            span.line
            .fuel-slider-pagination__items
              +pag
              +pag
              +pag
              +pag
              +pag
              +pag
              +pag
  //opt info
  .section__bottom.opt__info
    .opt__mobile-button.p-r-s.p-l-s
      a(href="javascript:void(0);").button.button_style2.opt__info-open.js-animated Калибровка бензовоза
    .opt__mobile-button.p-r-s.p-l-s.p-b-s
      a(href="javascript:void(0);" data-popup='#order').button.button_style1.js-animated Оставить заявку
    .opt__info-content
      .opt__info-head
        a(href="javascript:void(0)").popup-close.js-animated.opt__info-close
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .opt__info-container
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 9456 л.
              li
                span Отсек 2
                span 8263 л.
              li
                span Отсек 3
                span 8388 л.
              li
                span Общий литраж цистерны
                span 26107 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 6920 л.
              li
                span Отсек 2
                span 16030 л.
              li
                span Отсек 3
                span 5145 л.
              li
                span Общий литраж цистерны
                span 28095 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 7474 л.
              li
                span Отсек 2
                span 10859 л.
              li
                span Отсек 3
                span 9393 л.
              li
                span Общий литраж цистерны
                span 27726 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 6442 л.
              li
                span Отсек 2
                span 10760 л.
              li
                span Отсек 3
                span 10270 л.
              li
                span Общий литраж цистерны
                span 27972 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 6915 л.
              li
                span Отсек 2
                span 10865 л.
              li
                span Отсек 3
                span 10230 л.
              li
                span Общий литраж цистерны
                span 28010 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 2457 л.
              li
                span Отсек 2
                span 2453 л.
              li
                span Общий литраж цистерны
                span 4910 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 9456 л.
              li
                span Отсек 2
                span 8263 л.
              li
                span Отсек 3
                span 8388 л.
              li
                span Общий литраж цистерны
                span 26107 л.
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Отсек 1
                span 7425 л.
              li
                span Отсек 2
                span 10494 л.
              li
                span Отсек 3
                span 9995 л.
              li
                span Общий литраж цистерны
                span 27914 л.
  //opt selection
  .section__bottom.opt__selection.p-s
    .opt__selection-container
      .select.opt-main-select
        span.select__placeholder Выберите тип автомобиля
        select(data-icon='img/icons/sprite.svg#arb')
          option(value="КАМАЗ 26107") КАМАЗ 26107
          option(value="МАЗ 28095") МАЗ 28095
          option(value="ИВЕКО 27726") ИВЕКО 27726
          option(value="ИВЕКО 27972") ИВЕКО 27972
          option(value="КАМАЗ 28010") КАМАЗ 28010
          option(value="ГРАЗ 4910") ГРАЗ 4910
          option(value="KENWORTH 26107") KENWORTH 26107
          option(value="КАМАЗ 27914") КАМАЗ 27914
      a(href="javascript:void(0);" data-popup='#order').button.button_style1.js-animated Оставить заявку