section.section.section-slide.contacts.js-subnav-true.js-pagination-dark
  .section__display
    .section__content.h-c-t.p-t-h
      .contacts__map
        img.loader(src="img/icons/loader.svg", alt="loader")
        //<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac35c50786db94c833a7f1a99569be995b657bc3f440e4a2047a056a37bb7c525&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
      a(href="javascript:void(0);").contact-open-btn.js-animated Свяжитесь с нами
  .section__bottom.contacts__bottom
    .contacts__head.p-r-s.p-l-s
      a(href="javascript:void(0)").popup-close.contact-close-btn.js-animated
        svg.icon 
          use(xlink:href="img/icons/sprite.svg#close")
    h6.contacts__title.p-r-s.p-l-s Свяжитесь с нами
    form(action="").contacts-form.p-s.p-b-p
      .contacts-form__group.p-r-p.first
        .contacts-form__item.disabled-animated
          input(type="text")
          .input.contacts-form__input
            input(type="text" required).input__el
            label.input__placeholder Имя
        .contacts-form__item.disabled-animated
          .input.contacts-form__input
            input.input__el(type="email" required).input__el
            label.input__placeholder E-mail
      .contacts-form__group.last
        .contacts-form__item.contacts-form__text.input-size-parent.disabled-animated
          .input
            textarea(type="email" required).input__el
            label.input__placeholder Текст сообщения
        .contacts-form__item
          button(type='submit').button.button_style1.js-animated 
            span Отправить
            img(src="img/icons/loader-dark.svg", alt="loader")
    .contacts-socials.p-s
      ul.contacts-socials__list
        li.contacts-socials__item
          a(href="https://vk.com/id295109674" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#vk")
        li.contacts-socials__item
          a(href="tel:+74732303637").contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#phone")
        li.contacts-socials__item
          a(href="mailto:info@twonp.ru").contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#mail")
            