section.section.section-slide.contacts.js-subnav-true.js-pagination-dark
  .section__display
    .section__content.h-c-t.p-t-h
      <iframe src="https://yandex.ru/map-widget/v1/-/CGTXN41i" frameborder="1" allowfullscreen="true"></iframe>
      a(href="javascript:void(0);").contact-open-btn.js-animated Свяжитесь с нами
  .section__bottom.contacts__bottom
    .contacts__head.p-r-s.p-l-s
      a(href="javascript:void(0)").popup-close.contact-close-btn.js-animated
        svg.icon 
          use(xlink:href="img/icons/sprite.svg#close")
    h6.contacts__title.p-r-s.p-l-s Свяжитесь с нами
    form(action="").contacts-form.p-s.p-b-p
      .contacts-form__group.p-r-p
        .contacts-form__item
          .input.contacts-form__input
            input(type="text" required).input__el
            label.input__placeholder Имя
        .contacts-form__item
          .input.contacts-form__input
            input.input__el(type="email" required).input__el
            label.input__placeholder E-mail
      .contacts-form__group
        .contacts-form__item.contacts-form__text.input-size-parent
          .input
            .scroll-container
              textarea(type="email" required).input__el.scroll-child
            label.input__placeholder Текст сообщения
        .contacts-form__item
          button(type='submit').button.button_style1.js-animated Отправить
    .contacts-socials.p-s
      ul.contacts-socials__list
        li.contacts-socials__item
          a(href="https://vk.com/id295109674" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#vk")
        li.contacts-socials__item
          a(href="tel:88005000000").contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#phone")
        li.contacts-socials__item
          a(href="#" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#mail")