section.section.section-slide.contacts.js-subnav-true.js-pagination-dark.active
  .section__display
    .section__content.h-c-t.p-t-h
      <iframe src="https://yandex.ru/map-widget/v1/-/CGTXN41i" frameborder="1" allowfullscreen="true"></iframe>
  .section__bottom.contacts__bottom
    form(action="").contacts-form.scroll-container.shadow
      .contacts-form__content.scroll-child.p-s
        .contacts-form__group
          .contacts-form__item
            .input.contacts-form__input
              input(type="text").input__el
              label.t-color-gray.input__placeholder Имя
          .contacts-form__item
            .input.contacts-form__input
              input.input__el(type="email").input__el
              label.t-color-gray.input__placeholder E-mail
        .contacts-form__group
          .contacts-form__item
            .input.contacts-form__text
              textarea(type="email").input__el
              label.t-color-gray.input__placeholder Текст сообщения
          .contacts-form__item
    .contacts-socials.p-s
      ul.contacts-socials__list
        li.contacts-socials__item
          a(href="https://vk.com/id295109674" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#vk")
        li.contacts-socials__item
          a(href="#" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#phone")
        li.contacts-socials__item
          a(href="#" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#mail")