mixin slide(title, index)
  .galery-slide
    .galery-slide__description
    .galery-slide__image
      .bg.bg_mask2(data-depth="0.05" data-image='img/bg/home2.jpg')

section.section.section-slide.galery.js-nav-hidden
  .section__display.p-t-h
    .section__content.p-l-s.p-r-p.p-b-p
      .galery-slider.p-b-s
        .galery-slider__container
          +slide()
          +slide()
      .galery-pagination
        .galery-pagination__container
          a(href="javascript:void(0)").js-animated
          a(href="javascript:void(0)").js-animated