mixin slide(title, index)
  .galery-slide
    .galery-slide__description
      span.galery-slide__index=index
      h5.galery-slide__title=title
    .galery-slide__image
      .bg.bg_mask2(data-depth="0.05")&attributes(attributes)

section.section.section-slide.gallery.js-nav-hidden 
  .section__display.p-t-h
    .section__content.p-l-s.p-r-p.p-b-p
      .galery-slider.p-b-s
        .galery-slider__container
          +slide('Сеть АЗС', '1')(data-image='img/bg/home2.jpg')
          +slide('Заголовок', '2')(data-image='img/bg/home1.jpg')
      .galery-pagination
        .galery-pagination__container
          a(href="javascript:void(0)").js-animated.galery-pagination__item
          a(href="javascript:void(0)").js-animated.galery-pagination__item