header.header
  .header__left
    .logo
      a(href="/").logo__link.js-animated
        img(src="img/logos/logo.svg", alt="main logo")
    button.button.nav-btn.js-animated
      span
      span
      span