section.section.section-slide.js-subnav-true.map-section.js-nav-hidden.active
  .section__display
    .section__content.full-h
      .map-section__description
      .custom-map
        .custom-map__container
          .custom-map__inner
            img(src="img/map/map.svg", alt="map").custom-map__map
        .custom-map__controls
          a(href="javascript:void(0);").custom-map__control.custom-map__plus.js-animated 
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#plus")
          a(href="javascript:void(0);").custom-map__control.custom-map__minus.js-animated 
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#minus")