//Линии
svg.line(style='top:48.16%;left:50.1%;width:2.58%;transform:translate(-50%,-50%) rotate(1deg);' data-base='2' viewBox='0 0 231 336', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M217 335C261.5 192 184.5 -27.0001 1 5.50004', stroke='url(#paint0_linear)')
  defs
    lineargradient#paint0_linear(x1='213', y1='189.5', x2='96', y2='3', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')
svg.line(style='top:52.24%;left:51.7%;width:1.01%;transform:translate(-50%,-50%) rotate(-0.5deg)' data-base='2' viewBox='0 0 86 377', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M1 2C62 30 128.5 117 44 376', stroke='url(#paint1_linear)')
  defs
    lineargradient#paint1_linear(x1='5', y1='5.5', x2='44', y2='372', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')
svg.line(style='top:51.98%;left:51.96%;width:1.57%;transform:translate(-50%,-50%) rotate(1deg)' data-base='2' viewBox='0 0 130 319', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M0.5 1.5C109.5 1.5 172 128.5 91.5 318', stroke='url(#paint2_linear)')
  defs
    lineargradient#paint2_linear(x1='0.999992', y1='6.5', x2='120', y2='283', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')

//Линии
svg.line(style='top:47.2%;left:49.78%;width:1.86%;transform:translate(-50%,-50%) rotate(0.2deg);' data-base='1' viewBox='0 0 174 186', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M170.5 185.5C183.5 99.4999 118 -35.5 1.5 12', stroke='url(#paint13_linear)')
  defs
    lineargradient#paint13_linear(x1='172', y1='186.5', x2='8.99999', y2='2.00001', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')

svg.line(style='top:49.17%;left:51.1%;width:0.88%;transform:translate(-50%,-50%)rotate(0.4deg);' data-base='1' viewBox='0 0 79 177', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M0.5 1.5C77 12 92 89 63 176.5', stroke='url(#paint12_linear)')
  defs
    lineargradient#paint12_linear(x1='1.99998', y1='2.5', x2='68', y2='139.5', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')

svg.line(style='top:51.04%;left:51.68%;width:2.17%;transform:translate(-50%,-50%) rotate(1.2deg);' data-base='1' viewBox='0 0 181 477', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M0.5 3.49996C211 -18.5 201.5 214 142 476', stroke='url(#paint11_linear)')
  defs
    lineargradient#paint11_linear(x1='1.99998', y1='4.50001', x2='174', y2='340.5', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')
      
svg.line(style='top:51.31%;left:51.54%;width:1.74%;transform:translate(-50%,-50%)rotate(-0.2deg);' data-base='1' viewBox='0 0 148 537', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M0.5 2.49981C205.5 -14.5 151.5 417 89.5 535.5', stroke='url(#paint10_linear)')
  defs
    lineargradient#paint10_linear(x1='1.99986', y1='3.50007', x2='174', y2='339.5', gradientUnits='userSpaceOnUse')
      stop(stop-color='#30CDFF')
      stop(offset='1', stop-color='#FCB566')