section.section.section-slide.map-section.js-nav-hidden
  .section__display
    .map-section__description.p-l-s.p-t-h.p-r-s
      h5.map-section__title.t-size-64 Инфраструктура<br> компании
    .custom-map.p-t-s.p-l-s.p-r-p.p-t-h.p-b-p
      .custom-map__container
        .custom-map__inner.js-no-scroll
          a(data-station='1' href="javascript:void(0);" style='top:24.5%;left:42.5%').item.map-trigger.size1.js-animated
          a(data-station='2' href="javascript:void(0);" style='top:32.5%;left:47.5%').item.map-trigger.size1.js-animated
          a(data-station='3' href="javascript:void(0);" style='top:39%;left:52%').item.map-trigger.size1.js-animated
          a(data-station='4' href="javascript:void(0);" style='top:39.5%;left:65.5%').item.map-trigger.size1.js-animated
          a(data-base-station='1' href="javascript:void(0);" style='top:25.5%;left:45.1%').item.map-trigger.size1.js-animated
          a(data-base='2' href="javascript:void(0);" style='top:42%;left:52.5%').item.map-trigger.size1.js-animated
          a(data-factory='1' href="javascript:void(0);" style='top:9%;left:22.5%').item.map-trigger.size2.js-animated
          a(data-factory='2' href="javascript:void(0);" style='top:43%;left:54.4%').item.map-trigger.size2.js-animated
          a(data-factory='3' href="javascript:void(0);" style='top:77%;left:65.8%').item.map-trigger.size2.js-animated
          a(data-factory='4' href="javascript:void(0);" style='top:82%;left:59.5%').item.map-trigger.size2.js-animated
          include map
    .custom-map-controls.p-b-p
      a(href="javascript:void(0);").custom-map-controls__control.custom-map-plus.js-animated 
        svg.icon 
          use(xlink:href="img/icons/sprite.svg#plus")
      a(href="javascript:void(0);").custom-map-controls__control.custom-map-minus.js-animated 
        svg.icon 
          use(xlink:href="img/icons/sprite.svg#minus")
    //legends
    .map-section__legend.p-s.p-b-p
      h6.map-section__legend-title.t-size-24 Условные обозначения
      .map-section__legend-list
        .map-section__legend-section
          .map-section__legend-item.js-animated(data-base) Нефтебазы
          .map-section__legend-item.js-animated(data-station) Заправки
        .map-section__legend-section
          .map-section__legend-item.js-animated(data-factory) Заводы производители ГСМ
          .map-section__legend-item.js-animated(data-disabled) Неактивные элементы
    //popups
    .map-popup(data-station='1')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.list
              li
                span Расположение
                span 321 километр
              li
                span Координаты
                span 53.078146, 38.170838
              li
                span Название трассы
                span М-4
              li
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.list
              li
                span АИ 92
                span 42 руб/л
              li
                span АИ 95
                span 44 руб/л
              li
                span ДТ
                span 38 руб/л
              li
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.list
              li
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='2')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.list
              li
                span Расположение
                span 373 километр
              li
                span Координаты
                span 52.660538, 38.410391
              li
                span Название трассы
                span М-4 (бесплатная)
              li
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.list
              li
                span АИ 92
                span 42 руб/л
              li
                span АИ 95
                span 44 руб/л
              li
                span ДТ
                span 38 руб/л
              li
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.list
              li
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='3')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.list
              li
                span Расположение
                span 480 километр
              li
                span Координаты
                span 51.946202, 39.221451
              li
                span Название трассы
                span М-4
              li
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.list
              li
                span АИ 92
                span 42 руб/л
              li
                span АИ 95
                span 44 руб/л
              li
                span ДТ
                span 38 руб/л
              li
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.list
              li
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='4')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.list
              li
                span Расположение
                span 100 километр
              li
                span Координаты
                span 51°54′02″N 40°27′21″E
              li
                span Название трассы
                span Р-193
              li
                span Направление
                span Воронеж - Тамбов
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.list
              li
                span АИ 92
                span 42 руб/л
              li
                span АИ 95
                span 44 руб/л
              li
                span ДТ
                span 38 руб/л
              li
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.list
              li
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span «Русский аппетит»
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")                   
    .map-popup(data-base-station='1')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.list
              li
                span Расположение
                span 327 километр
              li
                span Координаты
                span 53.031533, 38.213158
              li
                span Название трассы
                span М-4
              li
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.list
              li
                span АИ 92
                span 42 руб/л
              li
                span АИ 95
                span 44 руб/л
              li
                span ДТ
                span 38 руб/л
              li
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.list
              li
                span Кафе
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Стоянка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Шиномонтаж
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li
                span Русский аппетит
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")    
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-base Месторасположение нефтебазы
            ul.list
              li
                span Координаты
                span 53.031533, 38.213158
              li
                span Адрес
                span Тульская область
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.list
              li
                span Производитель
                span “Роснефть”
              li
                span Местонахождение
                span Воронеж, Димитрова, 134
              li
                span Вид топлива
                span АИ-92; АИ-95; ДТ - «Евро»
              li
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.list
              li
                span Производитель
                span Новошахтинский
              li
                span Местонахождение
                span Ростовская область
              li
                span Вид топлива
                span Газойль низкозастывающий (аналог ДТ)
              li
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.list
              li
                span Производитель
                span Первый завод
              li
                span Местонахождение
                span Калужская обл., 249845
              li
                span Вид топлива
                span Топливо высоковязкое (аналог ДТ)
              li
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.list
              li
                span Производитель
                span Каменск-Шахтинск
              li
                span Местонахождение
                span Ростовская область, 347842
              li
                span Вид топлива
                span АИ-92; АИ-95
              li
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-base='2')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-base Месторасположение нефтебазы
            ul.list
              li
                span Координаты
                span 51°47'53.7"N 39°11'40.6"E
              li
                span Адрес
                span Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.list
              li
                span Производитель
                span “Роснефть”
              li
                span Местонахождение
                span Воронеж, Димитрова, 134
              li
                span Вид топлива
                span АИ-92; АИ-95; ДТ - «Евро»
              li
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.list
              li
                span Производитель
                span Новошахтинский
              li
                span Местонахождение
                span Ростовская область
              li
                span Вид топлива
                span Газойль низкозастывающий (аналог ДТ)
              li
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.list
              li
                span Производитель
                span Первый завод
              li
                span Местонахождение
                span Калужская обл., 249845
              li
                span Вид топлива
                span Топливо высоковязкое (аналог ДТ)
              li
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.list
              li
                span Производитель
                span Каменск-Шахтинск
              li
                span Местонахождение
                span Ростовская область, 347842
              li
                span Вид топлива
                span АИ-92; АИ-95
              li
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-factory='1')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.list
              li
                span Производитель
                span Первый завод
              li
                span Местонахождение
                span Калужская обл., 249845
              li
                span Вид топлива
                span Топливо высоковязкое (аналог ДТ)
              li
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
    .map-popup(data-factory='2')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.list
              li
                span Производитель
                span “Роснефть”
              li
                span Местонахождение
                span Воронеж, Димитрова, 134
              li
                span Вид топлива
                span АИ-92; АИ-95; ДТ - «Евро»
              li
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
    .map-popup(data-factory='3')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.list
              li
                span Производитель
                span Каменск-Шахтинск
              li
                span Местонахождение
                span Ростовская область, 347842
              li
                span Вид топлива
                span АИ-92; АИ-95
              li
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-factory='4')
      .popup-head.map-popup__head
        a(href="javascript:void(0);").popup-close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.list
              li
                span Производитель
                span Новошахтинский
              li
                span Местонахождение
                span Ростовская область
              li
                span Вид топлива
                span Газойль низкозастывающий (аналог ДТ)
              li
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
