section.section.section-slide.js-subnav-true.map-section.js-nav-hidden
  .section__display
    .map-section__description.p-s.p-t-h.p-b-p
      .map-section__text
        h5.map-section__title.t-size-64 Инфраструктура<br> компании
      .map-section__legend
        h6.map-section__legend-title.t-size-24 Условные обозначения
        ul.map-section__legend-list 
          li.map-section__legend-item.js-animated(data-base) Нефтебазы
          li.map-section__legend-item.js-animated(data-station) Заправки
          li.map-section__legend-item.js-animated(data-factory) Заводы производители ГСМ
          li.map-section__legend-item.js-animated(data-disabled) Неактивные элементы
    .custom-map.p-t-s.p-r-p.p-t-h.p-b-p
      .custom-map__container
        .custom-map__inner
          a(data-station='1' href="javascript:void(0);" style='top:24.5%;left:42.5%').item.map-trigger.size1.js-animated
          a(data-station='2' href="javascript:void(0);" style='top:32.5%;left:47.5%').item.map-trigger.size1.js-animated
          a(data-station='3' href="javascript:void(0);" style='top:39%;left:52%').item.map-trigger.size1.js-animated
          a(data-station='4' href="javascript:void(0);" style='top:39.5%;left:65.5%').item.map-trigger.size1.js-animated
          a(data-base-station='1' href="javascript:void(0);" style='top:25.5%;left:45.1%').item.map-trigger.size1.js-animated
          a(data-base='2' href="javascript:void(0);" style='top:42%;left:52.5%').item.map-trigger.size1.js-animated
          a(data-factory='1' href="javascript:void(0);" style='top:9%;left:22.5%').item.map-trigger.size2.js-animated
          a(data-factory='2' href="javascript:void(0);" style='top:43%;left:54.4%').item.map-trigger.size2.js-animated
          a(data-factory='3' href="javascript:void(0);" style='top:77%;left:65.8%').item.map-trigger.size2.js-animated
          a(data-factory='4' href="javascript:void(0);" style='top:82%;left:59.5%').item.map-trigger.size2.js-animated
          include map
      .custom-map__controls.p-b-p
        a(href="javascript:void(0);").custom-map__control.custom-map__plus.js-animated 
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#plus")
        a(href="javascript:void(0);").custom-map__control.custom-map__minus.js-animated 
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#minus")
    .map-popup(data-station='1')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.map-popup__list
              li.map-popup__item 
                span Расположение
                span Лобаново
              li.map-popup__item 
                span Координаты
                span 53.078146, 38.170838
              li.map-popup__item 
                span Название трассы
                span М-4
              li.map-popup__item 
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.map-popup__list
              li.map-popup__item 
                span АИ 92
                span 42 руб/л
              li.map-popup__item 
                span АИ 95
                span 44 руб/л
              li.map-popup__item 
                span ДТ
                span 38 руб/л
              li.map-popup__item 
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.map-popup__list
              li.map-popup__item 
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='2')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.map-popup__list
              li.map-popup__item 
                span Расположение
                span Елец
              li.map-popup__item 
                span Координаты
                span 52.660538, 38.410391
              li.map-popup__item 
                span Название трассы
                span М-4 (бесплатная)
              li.map-popup__item 
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.map-popup__list
              li.map-popup__item 
                span АИ 92
                span 42 руб/л
              li.map-popup__item 
                span АИ 95
                span 44 руб/л
              li.map-popup__item 
                span ДТ
                span 38 руб/л
              li.map-popup__item 
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.map-popup__list
              li.map-popup__item 
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='3')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.map-popup__list
              li.map-popup__item 
                span Расположение
                span Галкино
              li.map-popup__item 
                span Координаты
                span 51.946202, 39.221451
              li.map-popup__item 
                span Название трассы
                span М-4
              li.map-popup__item 
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.map-popup__list
              li.map-popup__item 
                span АИ 92
                span 42 руб/л
              li.map-popup__item 
                span АИ 95
                span 44 руб/л
              li.map-popup__item 
                span ДТ
                span 38 руб/л
              li.map-popup__item 
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.map-popup__list
              li.map-popup__item 
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
    .map-popup(data-station='4')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.map-popup__list
              li.map-popup__item 
                span Расположение
                span Большой Самовец
              li.map-popup__item 
                span Координаты
                span 51°54′02″N 40°27′21″E
              li.map-popup__item 
                span Название трассы
                span Р-193
              li.map-popup__item 
                span Направление
                span Воронеж - Тамбов
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.map-popup__list
              li.map-popup__item 
                span АИ 92
                span 42 руб/л
              li.map-popup__item 
                span АИ 95
                span 44 руб/л
              li.map-popup__item 
                span ДТ
                span 38 руб/л
              li.map-popup__item 
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.map-popup__list
              li.map-popup__item 
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span «Русский аппетит»
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")                   
    .map-popup(data-base-station='1')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-station Месторасположение заправки
            ul.map-popup__list
              li.map-popup__item 
                span Расположение
                span Платоновка
              li.map-popup__item 
                span Координаты
                span 53.031533, 38.213158
              li.map-popup__item 
                span Название трассы
                span М-4
              li.map-popup__item 
                span Направление
                span Москва-Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18 Цены
            ul.map-popup__list
              li.map-popup__item 
                span АИ 92
                span 42 руб/л
              li.map-popup__item 
                span АИ 95
                span 44 руб/л
              li.map-popup__item 
                span ДТ
                span 38 руб/л
              li.map-popup__item 
                span ДТ - «Евро»
                span 42 руб/л
          .map-popup__section
            h6.map-popup__title.t-size-18 Сервис
            ul.map-popup__list
              li.map-popup__item 
                span Кафе
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Магазин
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Парковка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Стоянка
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
              li.map-popup__item 
                span Туалет
                svg.icon 
                  use(xlink:href="img/icons/sprite.svg#tick")
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-base Месторасположение нефтебазы
            ul.map-popup__list
              li.map-popup__item 
                span Координаты
                span 53.031533, 38.213158
              li.map-popup__item 
                span Адрес
                span Тульская область
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span “Роснефть”
              li.map-popup__item 
                span Местонахождение
                span Воронеж, Димитрова, 134
              li.map-popup__item 
                span Вид топлива
                span АИ-92; АИ-95
              li.map-popup__item 
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Новошахтинский
              li.map-popup__item 
                span Местонахождение
                span Ростовская область
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Первый завод
              li.map-popup__item 
                span Местонахождение
                span Калужская обл., 249845
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Каменск-Шахтинск
              li.map-popup__item 
                span Местонахождение
                span Ростовская область, 347842
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-base='2')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-base Месторасположение нефтебазы
            ul.map-popup__list
              li.map-popup__item 
                span Координаты
                span 51°47'53.7"N 39°11'40.6"E
              li.map-popup__item 
                span Адрес
                span Воронеж
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span “Роснефть”
              li.map-popup__item 
                span Местонахождение
                span Воронеж, Димитрова, 134
              li.map-popup__item 
                span Вид топлива
                span АИ-92; АИ-95
              li.map-popup__item 
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Новошахтинский
              li.map-popup__item 
                span Местонахождение
                span Ростовская область
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Первый завод
              li.map-popup__item 
                span Местонахождение
                span Калужская обл., 249845
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Каменск-Шахтинск
              li.map-popup__item 
                span Местонахождение
                span Ростовская область, 347842
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-factory='1')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 3
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Первый завод
              li.map-popup__item 
                span Местонахождение
                span Калужская обл., 249845
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 54°42'41.5"N 35°57'51.6"E
    .map-popup(data-factory='2')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 1
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span “Роснефть”
              li.map-popup__item 
                span Местонахождение
                span Воронеж, Димитрова, 134
              li.map-popup__item 
                span Вид топлива
                span АИ-92; АИ-95
              li.map-popup__item 
                span Координаты
                span 51°38'47.1"N 39°18'04.4"E
    .map-popup(data-factory='3')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 4
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Каменск-Шахтинск
              li.map-popup__item 
                span Местонахождение
                span Ростовская область, 347842
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 48°13'45.5"N 40°23'40.3"E
    .map-popup(data-factory='4')
      .map-popup__head
        a(href="javascript:void(0);").map-popup__close.js-animated
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .map-popup__content.scroll-container.shadow
        .scroll-child.p-s
          .map-popup__section
            h6.map-popup__title.t-size-18.t-color-factory Завод производитель 2
            ul.map-popup__list
              li.map-popup__item 
                span Название завода
                span Новошахтинский
              li.map-popup__item 
                span Местонахождение
                span Ростовская область
              li.map-popup__item 
                span Вид топлива
                span СМТ
              li.map-popup__item 
                span Координаты
                span 47°50'02.5"N 39°51'27.9"E
