include map-element
//Дороги
span.item.custom-map__label(style='top:44.3%;left:49.6%') m10
span.item.custom-map__label(style='top:45.7%;left:47%') m1
span.item.custom-map__label(style='top:46.95%;left:48.4%') e101
span.item.custom-map__label(style='top:47.5%;left:49.86%') e105
span.item.custom-map__label(style='top:48.9%;left:48.7%') m2
span.item.custom-map__label(style='top:47.7%;left:50.44%') m4
span.item.custom-map__label(style='top:49.02%;left:49.69%') p-119
span.item.custom-map__label(style='top:46.7%;left:51.9%') m5
span.item.custom-map__label(style='top:47.3%;left:51.65%') p22
span.item.custom-map__label(style='top:48.4%;left:51.7%') p204
span.item.custom-map__label(style='top:46.15%;left:52.75%') p-125
span.item.custom-map__label(style='top:50.28%;left:52.7%') p298
span.item.custom-map__label(style='top:53.9%;left:52.9%') a-260
span.item.custom-map__label(style='top:55.04%;left:51%') a-280
span.item.custom-map__label(style='top:49.3%;left:52.64%') p-193
//Города
span.item.custom-map__region.rt(style=`top:43.48%;left:48.87%`)
  span Тверь
span.item.custom-map__region.rt(style=`top:44.86%;left:50.04%`)
  span Москва
span.item.custom-map__region.rb(style=`top:46.15%;left:45.9%`)
  span Смоленск
span.item.custom-map__region.lt(style='top:48.1%;left:47.56%')
  span Брянск
span.item.custom-map__region.rb(style='top:46.44%;left:49%')
  span Калуга
span.item.custom-map__region.rb(style='top:47.06%;left:50.05%')
  span Тула
span.item.custom-map__region.r(style='top:46.35%;left:51.65%')
  span Рязань
span.item.custom-map__region.tl(style='top:48.4%;left:48.95%')
  span Орёл
span.item.custom-map__region.rb(style='top:48.92%;left:51.53%')
  span Липецк
span.item.custom-map__region.r(style='top:48.63%;left:52.8%')
  span Тамбов
span.item.custom-map__region.rb(style='top:49.94%;left:49.03%')
  span Курск
span.item.custom-map__region.lb(style='top:50.09%;left:51.26%')
  span Воронеж
span.item.custom-map__region.rb(style='top:55.1%;left:51.5%')
  span Ростов-на-Дону
span.item.custom-map__region.rt(style='top:51.25%;left:49.25%')
  span Белгород
span.item.custom-map__region.rb(style='top:57.44%;left:51.03%')
  span Краснодар