nav.nav.js-no-scroll
  .nav__content
    .nav__items.p-t-h
      .scroll-container
        .scroll-child.p-t-s
          ul.nav__list
            li.nav__item
              a(href="azs.html" data-animate-link).nav__link.js-animated.p-l-s Сеть АЗС
            li.nav__item
              a(href="opt.html" data-animate-link data-first-slide='1').nav__link.js-animated.p-l-s Оптовая продажа
            li.nav__item
              a(href="index.html" data-animate-link data-first-slide='4').nav__link.js-animated.p-l-s Логистика
            li.nav__item
              a(href="index.html" data-animate-link data-first-slide='5').nav__link.js-animated.p-l-s Нефтебазы
            li.nav__item
              a(href="http://ecopromvrn.ru/" target='_blank').nav__link.js-animated.p-l-s Утилизация
            li.nav__item
              a(href="index.html" data-animate-link data-first-slide='7').nav__link.js-animated.p-l-s Контакты
    ul.nav__footer.p-s
      li
        a(href="tel:+74732303637").nav__phone.ff-2.js-animated +7 473 230-36-37
      li
        span.copy &copy "TWONP" Все права защищены
      li
        a(href="#" target='_blank').link.js-animated Политика конфиденциальности
    .contacts-socials.p-s
      ul.contacts-socials__list
        li.contacts-socials__item
          a(href="https://vk.com/id295109674" target='_blank').contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#vk")
        li.contacts-socials__item
          a(href="tel:+74732303637").contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#phone")
        li.contacts-socials__item
          a(href="mailto:info@twonp.ru").contacts-socials__link.js-animated
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#mail")