nav.nav
  .nav__content
    .nav__items.p-t-h
      .scroll-container
        .scroll-child.p-t-s.p-b-s
          ul.nav__list
            li.nav__item
              a(href="/TWONP/dest/index.html").nav__link.js-animated.p-l-s Сеть АЗС
            li.nav__item
              a(href="/TWONP/dest/wholesale-fuel/index.html").nav__link.js-animated.p-l-s.active Оптовая продажа
            li.nav__item
              a(href="/TWONP/dest/index.html").nav__link.js-animated.p-l-s Логистика
            li.nav__item
              a(href="/TWONP/dest/index.html").nav__link.js-animated.p-l-s Нефтебазы
            li.nav__item
              a(href="http://ecopromvrn.ru/" target='_blank').nav__link.js-animated.p-l-s Утилизация
            li.nav__item
              a(href="/TWONP/dest/index.html").nav__link.js-animated.p-l-s Контакты
    .nav__copy.p-s
      a(href="tel:88005000000").nav__phone.ff-2.js-animated 8 800 500 0000
      span.copy &copy Все права защищены