nav.nav
  .nav__content
    .nav__items
      ul.nav__list
        li.nav__item
          a(href="/").nav__link.js-animated Сеть АЗС
        li.nav__item
          a(href="wholesale-fuel/").nav__link.js-animated.active Оптовая продажа
        li.nav__item
          a(href="/").nav__link.js-animated Логистика
        li.nav__item
          a(href="/").nav__link.js-animated Нефтебазы
        li.nav__item
          a(href="http://ecopromvrn.ru/" target='_blank').nav__link.js-animated Утилизация
        li.nav__item
          a(href="javascript:void(0);" data-slide='5').nav__link.js-animated Контакты
    .nav__copy
      a(href="tel:88005000000").nav__phone.ff-2.js-animated 8 800 500 0000
      span.copy &copy Все права защищены