.pagination
  .pagination__item
    a(href="javascript:void(0)" data-slide='prev').pagination__num.pagination-prev.js-animated 00
  .pagination__item
    a(href="javascript:void(0)" data-slide='prev').pagination__arrow.pagination-prev.js-animated
      svg.icon 
        use(xlink:href="img/icons/sprite.svg#topA")
  .pagination__item
    a(href="javascript:void(0)" data-slide='next').pagination__arrow.pagination-next.js-animated
      svg.icon 
        use(xlink:href="img/icons/sprite.svg#bottomA")
  .pagination__item
    a(href="javascript:void(0)" data-slide='next').pagination__num.pagination-next.js-animated 00