.popup(id="order")
  a(href="javascript:void(0)" data-close).popup__close  
  .popup__container
    .popup__head
      .popup__title Отправьте заявку
      a(href="javascript:void(0)" data-close).popup-close.js-animated
        svg.icon 
          use(xlink:href="img/icons/sprite.svg#close")
    .popup__content
