mixin pag(title)
  a(href="javascript:void(0)").fuel-slider-pagination__item.js-animated
    span.dot
    span.title=title

section.section.section-slide.opt.active
  //opt selection
  .section__bottom.opt__selection.p-s
    .opt__selection-container
      .select.opt-main-select
        span.select__placeholder Выберите вид топлива
        select(data-icon='img/icons/sprite.svg#arb')
          option(value="0") ДТ "ЕВРО" Л-К5
          option(value="1") АИ-95
          option(value="2") АИ-92
      a(href="javascript:void(0);" data-popup='#order').button.button_style1.js-animated Заказать
  //opt slider
  .section__display
    .scene
      .bg.bg_mask5(data-depth="0.05" style='background-image: url("img/bg/bg2.jpg")')
    .section__content.p-s.p-r-p.p-t-h.p-b-p.content-b
      //mobile select
      .select.opt-main-select
        span.select__placeholder Выберите вид топлива
        select(data-icon='img/icons/sprite.svg#arb')
          option(value="0") ДТ "ЕВРО" Л-К5
          option(value="1") АИ-95
          option(value="2") АИ-92
      .fuel-slider-pagination
        span.line
        span.line
        .fuel-slider-pagination__items
          +pag('ДТ "ЕВРО" Л-К5')
          +pag('АИ-95')
          +pag('АИ-92')
      .fuel-slider
        .fuel-slider__center
          .slider
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 01
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 41.75 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 50 000 ₽
                .fuel-slide__bottom
                  a(href='content/ДТ "ЕВРО" Л-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title ДТ "ЕВРО" 
                    span Л-К5
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 02
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 39.00 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 52 000 ₽
                .fuel-slide__bottom
                  a(href='content/АИ-95-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title АИ-95
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 03
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 36.45 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 49 250 ₽
                .fuel-slide__bottom
                  a(href='content/АИ-92-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title АИ-92
  //opt info
  .section__bottom.opt__info
    .opt__info-head
    .opt__info-container
      .opt-info-item.p-s
        ul.list
          li
            span Цетановое число
            span 51.1
          li
            span Плотность при 15 °C, кг/м3
            span 835.2
          li
            span Массовая доля серы для топлива К5, мг/кг
            span 7.6
          li
            span Температура вспышки, °C
            span 64
          li
            span Зольность, % масс.
            span отсутствие
      .opt-info-item.p-s
        ul.list
          li
            span Октановое число
            span 95
          li
            span Массовая доля серы, мг/кг
            span 8.9
          li
            span Плотность при 15°C, кг/м3
            span 744.8
      .opt-info-item.p-s
        ul.list
          li
            span Октановое число
            span 92.1
          li
            span Массовая доля серы, мг/кг
            span менее 3
          li
            span Плотность при 15°C, кг/м3
            span 738.4
