mixin pag(title)
  a(href="javascript:void(0)").fuel-slider-pagination__item.js-animated
    span.dot
    span.title=title

section.section.section-slide.opt
  //opt slider
  .section__display
    .scene
      .bg.bg_mask5(data-depth="0.05" data-image='img/bg/bg2.jpg')
    .section__content.p-s.p-r-p.p-t-h.p-b-p.content-b.js-mobile-full-size
      //mobile select
      .opt__mobile-select
        .select.opt-main-select
          span.select__placeholder Выберите вид топлива
          select(data-icon='img/icons/sprite.svg#arb')
            option(value="ДТ 'ЕВРО' Л-К5") ДТ 'ЕВРО' Л-К5
            option(value="АИ-95") АИ-95
            option(value="АИ-92") АИ-92
            option(value="Газойль") Газойль
            option(value="Топливо высоковязкое") Топливо высоковязкое
            option(value="Широкий нефтяной дистиллят") Широкий нефтяной дистиллят
      //pagination
      .fuel-slider-pagination
        .fuel-slider-pagination__container
          span.line
          span.line
          span.line
          span.line
          span.line
          .fuel-slider-pagination__items
            +pag('ДТ "ЕВРО"')
            +pag('АИ-95')
            +pag('АИ-92')
            +pag('Газойль')
            +pag('ТВ')
            +pag('ШНД')
      //slider
      .fuel-slider.js-no-scroll
        .fuel-slider__center
          .slider
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 01
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 41.75 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 50 000 ₽
                .fuel-slide__bottom
                  a(href='content/ДТ "ЕВРО" Л-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title ДТ "ЕВРО" Л-К5
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 02
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 39.00 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 52 000 ₽
                .fuel-slide__bottom
                  a(href='content/АИ-95-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title АИ-95
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 03
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price 36.45 ₽
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price 49 250 ₽
                .fuel-slide__bottom
                  a(href='content/АИ-92-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title АИ-92
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 04
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price -
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price -
                .fuel-slide__bottom
                  a(href='content/АИ-92-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title Газойль <br>
                    span (аналог ДТ)
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 05
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price -
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price -
                .fuel-slide__bottom
                  a(href='content/АИ-92-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title Топливо высоковязкое <br>
                    span (аналог ДТ)
            .fuel-slide
              .fuel-slide__container.js-animated
                span.fuel-slide__index 06
                .fuel-slide__top
                  .fuel-slide__item
                    span.fuel-slide__label Литр
                    span.fuel-slide__price -
                  .fuel-slide__item
                    span.fuel-slide__label Тонна
                    span.fuel-slide__price -
                .fuel-slide__bottom
                  a(href='content/АИ-92-К5.pdf' target='_blank').fuel-slide__pasport.js-animated
                    svg.icon 
                      use(xlink:href="img/icons/sprite.svg#ico5")
                    span Паспорт
                  h6.fuel-slide__title Широкий нефтяной дистиллят<br>
                    span (аналог ДТ)        
  //opt info
  .section__bottom.opt__info
    .opt__mobile-button.p-r-s.p-l-s
      a(href="javascript:void(0);").button.button_style2.opt__info-open.js-animated Показать характеристики
    .opt__mobile-button.p-r-s.p-l-s.p-b-s
      a(href="javascript:void(0);" data-popup='#order').button.button_style1.js-animated Заказать
    .opt__info-content
      .opt__info-head
        a(href="javascript:void(0)").popup-close.js-animated.opt__info-close
          svg.icon 
            use(xlink:href="img/icons/sprite.svg#close")
      .opt__info-container
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Цетановое число
                span 51.1
              li
                span Плотность при 15 °C, кг/м3
                span 835.2
              li
                span Массовая доля серы для топлива К5, мг/кг
                span 7.6
              li
                span Температура вспышки, °C
                span 64
              li
                span Зольность, % масс.
                span отсутствие
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Октановое число
                span 95
              li
                span Массовая доля серы, мг/кг
                span 8.9
              li
                span Плотность при 15°C, кг/м3
                span 744.8
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Октановое число
                span 92.1
              li
                span Массовая доля серы, мг/кг
                span менее 3
              li
                span Плотность при 15°C, кг/м3
                span 738.4
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Плотность при 15 °C, кг/м3
                span 837
              li
                span Массовая доля серы, %
                span 0.872
              li
                span Температура вспышки, °C
                span 84
              li
                span Температура застывания, °C
                span -36
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Вязкость кинематическая, мм2/с
                span 2.44
              li
                span Температура вспышки, *С
                span 93
        .opt-info-item.scroll-container.shadow
          .scroll-child.p-s
            ul.list
              li
                span Плотность, кг./м3
                span 821
              li
                span Массовая доля серы,%
                span 0.34 
              li
                span Температура вспышки, *С
                span 82
              li
                span Температура застывания, *С
                span -36

  //opt selection
  .section__bottom.opt__selection.p-s
    .opt__selection-container
      .select.opt-main-select
        span.select__placeholder Выберите вид топлива
        select(data-icon='img/icons/sprite.svg#arb')
          option(value="ДТ 'ЕВРО' Л-К5") ДТ 'ЕВРО' Л-К5
          option(value="АИ-95") АИ-95
          option(value="АИ-92") АИ-92
          option(value="Газойль") Газойль
          option(value="Топливо высоковязкое") Топливо высоковязкое
          option(value="Широкий нефтяной дистиллят") Широкий нефтяной дистиллят
      a(href="javascript:void(0);" data-popup='#order').button.button_style1.js-animated Заказать