.sub-nav.p-r-p
  ul.sub-nav__list
    li.sub-nav__item
      a(href="javascript:void(0);" data-slide='2').sub-nav__link.js-animated Заправиться
    li.sub-nav__item
      a(href="javascript:void(0);" data-slide='3').sub-nav__link.js-animated Закупить
    li.sub-nav__item
      a(href="javascript:void(0);" data-slide='4').sub-nav__link.js-animated Перевезти
    li.sub-nav__item
      a(href="javascript:void(0);" data-slide='5').sub-nav__link.js-animated Хранить