.sub-nav.p-r-p
  ul.sub-nav__list
    li.sub-nav__item
      a(href="/").sub-nav__link.js-animated Заправиться
    li.sub-nav__item
      a(href="wholesale-fuel/").sub-nav__link.js-animated.active Закупить
    li.sub-nav__item
      a(href="/").sub-nav__link.js-animated Перевезти
    li.sub-nav__item
      a(href="/").sub-nav__link.js-animated Хранить