.sub-nav.p-r-p
  ul.sub-nav__list
    li.sub-nav__item
      a(href="/TWONP/dest/index.html").sub-nav__link.js-animated Заправиться
    li.sub-nav__item
      a(href="/TWONP/dest/wholesale-fuel/index.html").sub-nav__link.js-animated.active Топливо оптом
    li.sub-nav__item
      a(href="/TWONP/dest/index.html").sub-nav__link.js-animated Перевезти
    li.sub-nav__item
      a(href="/TWONP/dest/index.html").sub-nav__link.js-animated Хранить