.sub-nav.p-r-p
  ul.sub-nav__list
    li.sub-nav__item
      a(href="index.html" data-animate-link data-first-slide='1').sub-nav__link.js-animated Инфраструктура
    li.sub-nav__item
      a(href="azs.html" data-animate-link).sub-nav__link.js-animated Заправиться
    li.sub-nav__item
      a(href="opt.html" data-animate-link data-first-slide='1').sub-nav__link.js-animated Топливо оптом
    li.sub-nav__item
      a(href="logistics.html" data-animate-link data-first-slide='1').sub-nav__link.js-animated Перевезти
    li.sub-nav__item
      a(href="index.html" data-animate-link data-first-slide='5').sub-nav__link.js-animated Хранить