extends ../layout/layout
block content
  include ../blocks/header
  include ../blocks/subnav2
  include ../blocks/nav2
  include ../blocks/pagination
  .slide-container
    section.section.section-slide.home.opt-home.active
      .home__content.section__display
        .scene
          .bg.bg_mask3(data-depth="0.05" style='background-image: url("img/bg/home3.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
          h5.t-size-64.section__title Топливо оптом
          span.t-size-24 Доставим или отгрузим в ваши бензовозы
      .home__nav.section__bottom
        .home__nav-item.js-animated.big-block-btn(data-slide='1')
          .big-block-btn__text
            span.t-size-20 Оптовая<br> продажа топлива
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='2')
          .big-block-btn__text
            span.t-size-20 Прямые контракты<br> с производителями
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='3')
          .big-block-btn__text
            span.t-size-20 Отгрузка топлива<br> в ваши бензовозы
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
        .home__nav-item.js-animated.big-block-btn(data-slide='4')
          .big-block-btn__text
            span.t-size-20 Сертификаты<br> и паспорта
            svg.icon 
              use(xlink:href="img/icons/sprite.svg#ico1")
    include ../blocks/slider
    section.section.section-slide.manufacturers
      .section__display
        .scene
          .bg.bg_mask4(data-depth="0.05" style='background-image: url("img/bg/bg1.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
          h5.section__title.t-size-64 Прямые контракты<br> с производителями
          span.t-size-20.t-w-500 Позволяют придерживаться гибкой ценовой политики и гарантируют высокое качество поставляемого топлива
      .section__bottom.manufacturers__bottom
        .manufacturers__items
          .manufacturers__item.js-animated.big-block-btn
            img(src="img/icons/factory1.svg", alt="КНПЗ")
          .manufacturers__item.js-animated.big-block-btn
            img(src="img/icons/factory2.svg", alt="РОСНЕФТЬ")
          .manufacturers__item.js-animated.big-block-btn
            img(src="img/icons/factory3.svg", alt="ПЕРВЫЙ ЗАВОД")
          .manufacturers__item.js-animated.big-block-btn
            img(src="img/icons/factory4.svg", alt="Новошахтинский НПЗ")
    section.section.section-slide.shipment
      .section__display
        .scene.js-mobile-auto-size
          .bg.bg_mask4(data-depth="0.05" style='background-image: url("img/bg/bg3.jpg")')
        .section__content.l-pd.p-s.p-r-p.p-t-h.p-b-p.content-b
          h5.section__title.t-size-64 Отгрузка топлива<br> в ваши бензовозы
      .section__bottom.category-preview__bottom
        .category-preview__description.scroll-container
          .scroll-child.p-s
            h6.category-preview__title.ff-2.t-size-24 На заводах производителях
            p.t-color-gray.t-w-500 Отгрузим топливо в ваши бензовозы на заводах производителях или на наших нефтебазах в Воронежской и Тульской областях.
    section.section.section-slide.js-nav-hidden.documents
      .section__display
        .scene
          .bg.bg_mask8(data-depth="0.05" style='background-image: url("img/bg/bg4.jpg")')
        .section__content.p-t-h
          .scroll-container
            .scroll-child.p-s.p-r-p.p-b-p
              h5.section__title.t-size-48 Сертификаты<br> и паспорта качества
              .documents__container.row
                .documents-item.col-xl-3.col-md-4.col-sm-6.col-12
                  a(href='content/АИ-92-К5.pdf' download).documents-item__container.js-animated
                    .documents-item__content
                      span.documents-item__title Паспорт <br>АИ-92-К5
                      span.documents-item__index 1
                      svg.icon.documents-item__small
                        use(xlink:href="img/icons/sprite.svg#ico3")
                      svg.icon.documents-item__big
                        use(xlink:href="img/icons/sprite.svg#ico5")
                      span.documents-item__format .pdf
                .documents-item.col-xl-3.col-md-4.col-sm-6.col-12
                  a(href='content/АИ-95-К5.pdf' download).documents-item__container.js-animated
                    .documents-item__content
                      span.documents-item__title Паспорт <br>АИ-95-К5
                      span.documents-item__index 2
                      svg.icon.documents-item__small
                        use(xlink:href="img/icons/sprite.svg#ico3")
                      svg.icon.documents-item__big
                        use(xlink:href="img/icons/sprite.svg#ico5")
                      span.documents-item__format .pdf
                .documents-item.col-xl-3.col-md-4.col-sm-6.col-12
                  a(href='content/ДТ "ЕВРО" Л-К5.pdf' download).documents-item__container.js-animated
                    .documents-item__content
                      span.documents-item__title Паспорт <br> ДТ "ЕВРО" Л-К5
                      span.documents-item__index 3
                      svg.icon.documents-item__small
                        use(xlink:href="img/icons/sprite.svg#ico3")
                      svg.icon.documents-item__big
                        use(xlink:href="img/icons/sprite.svg#ico5")
                      span.documents-item__format .pdf
                .documents-item.col-xl-3.col-md-4.col-sm-6.col-12
                  a(href='content/Топливо высоковязкое вид 1.pdf' download).documents-item__container.js-animated
                    .documents-item__content
                      span.documents-item__title Топливо высоковязкое вид 1
                      span.documents-item__index 4
                      svg.icon.documents-item__small
                        use(xlink:href="img/icons/sprite.svg#ico3")
                      svg.icon.documents-item__big
                        use(xlink:href="img/icons/sprite.svg#ico5")
                      span.documents-item__format .pdf
                .documents-item.col-xl-3.col-md-4.col-sm-6.col-12
                  a(href='content/Топливо высоковязкое вид 2.pdf' download).documents-item__container.js-animated
                    .documents-item__content
                      span.documents-item__title Топливо высоковязкое вид 2
                      span.documents-item__index 5
                      svg.icon.documents-item__small
                        use(xlink:href="img/icons/sprite.svg#ico3")
                      svg.icon.documents-item__big
                        use(xlink:href="img/icons/sprite.svg#ico5")
                      span.documents-item__format .pdf

  include ../blocks/popups